@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Merienda", cursive;
  font-weight: bold;

  font-size: 60 px;
  background: -webkit-linear-gradient(rgb(89, 0, 253), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-principal {
  width: 500px;
  height: 550px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #f4eff8;
}

.container-player {
  width: 90%;
  /* margin: 10px; */
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 1px;
  text-align: center;

  background-color: #ad5389;

  box-shadow: 0 10px 16px 0 #808080;
}

.capa-album {
  max-width: 200px;
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 5px;
}

.audio-controls {
  width: 300px;
  background-color: #f4eff8;
  margin: auto;
  padding: 5px;
  border-radius: 2px;
}

.player-div-time {
  max-width: 250px;
  /* background-color: red; */
  margin: auto;
}

#time-audio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;

  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.player-timeline {
  /* float: left; */
  display: inline-block;
  vertical-align: middle;
  /* margin: auto; */
  max-width: 150px;
  width: 200px;
  height: 10px;
  /* margin-top: 13px; */
  background: #999;
}

.player-timeline-control {
  height: 10px;
  background: #555;
  width: 0%;
}

.player-btn {
  margin-top: 5px;
  width: 50px;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.1);
}

.player-btn:hover {
  background-color: rgba(115, 4, 206, 0.2);
}

.player-btn:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.audio-vol {
  position: relative;
  display: inline-block;
  /* align-items: center; */
}

.audio-vol:hover input {
  opacity: 100;
  width: 100px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  transform: rotate(270deg);
  transform-origin: left;
  margin-left: 50%;

  background: linear-gradient(90deg, #1e343f15, #1e343f);
  border-radius: 1px;
  /* height: 1vw; */
  max-height: 6px;
  transition: 0.5s;
  opacity: 0;
  width: 0;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vw;
  max-width: 15px;
  height: 2vw;
  max-height: 15px;
  border-radius: 50px;
  background: #1e343f;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
